/* 
    Document   : style
    Created on : 27.12.2010, 15:29:10
    Author     : Kurt
    Description:
        Nothing and everything.
*/
body {
    background-image: url("res/backgrounds/default.png");
    margin: 0px;
}
footer {
    position: fixed;
    bottom: 0px;
}
header {
    text-align: right;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, yellow),
                color-stop(0.5, orange), color-stop(1.0, red));
    background: -moz-gradient(linear, left top, left bottom, color-stop(0.0, yellow),
                color-stop(0.5, orange), color-stop(1.0, red));
    padding: 3px;
}
textarea { 
    -webkit-transition: -webkit-box-shadow 450ms linear 100ms;
    border: 1px solid grey;
    padding: 2px 1px;
    margin-left: 12%;
    height: 100px;
    width: 500px;
    border-radius: 4px;
    font-family: Arial, serif;
    padding: 8px;
    outline: none;
}
textarea:hover, textarea:active { 
    -webkit-box-shadow: red 0px 0px 5px;
    -moz-box-shadow: red 0px 0px 5px; 
    box-shadow: red 0px 0px 5px;
}

#logo{
    margin-left: 15%;
    margin-right: 35%;
}

#post_it{
    margin-left: 25%;
    margin-right: 25%;
    border: 1px solid black;
    border-radius: 10px;
    height: 100%;
    background-color: #7bbdd7;
}
h3{
    font-family: 'Yanone Kaffeesatz', arial, serif;
    text-shadow: white 0 0 2px;
    letter-spacing: 0.1em;
    font-size: 17px;
    margin-top: 10px;
    margin-left: 12%;
    cursor: default;
}
label{
    margin-left: 12%;
}
#twibb{
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
    margin-bottom: 10px;
}
time{
    position: relative;
    text-align: right;
    display: block;
}
#content{
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#7cbfda), to(#6aa4ba));
    background: -moz-linear-gradient(top,  #7cbfda,  #6aa4ba);
}
#nickname{
    text-align: left;
}
#status{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: yellow;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-right-radius: 5px;
    padding-right: 5px;
}